In [1]:
import pandas as pd

data = pd.read_csv('clouds.csv')
display(data.head())

   Period Seeded  Season    TE    TW    NC    SC   NWC      T      C   DIFF
0       1      S  Autumn  1.69  3.73  1.65  1.80  3.33  2.710  2.260  0.450
1       2      U  Autumn  0.74  0.78  1.09  0.79  1.59  0.760  1.157 -0.397
2       3      S  Winter  0.81  0.86  2.39  0.36  2.06  0.835  1.603 -0.768
3       4      U  Winter  1.44  2.01  2.96  1.27  4.05  1.725  2.760 -1.035
4       5      S  Winter  2.48  4.61  4.16  2.16  6.00  3.545  4.107 -0.562

In [4]:
data.groupby('Seeded').mean()

,Period,TE,TW,NC,SC,NWC,T,C,DIFF
Seeded,,,,,,,,,
S,100.481481,1.150556,2.001296,1.325926,1.154259,2.025000,1.575926,1.501685,0.074241
U,100.666667,1.314630,2.091481,1.686852,1.250000,2.360741,1.703056,1.765889,-0.062833

In [5]:
data.groupby('Season').mean()

,Period,TE,TW,NC,SC,NWC,T,C,DIFF
Season,,,,,,,,,
Autumn,108.666667,1.289583,2.009167,1.430833,1.221250,2.235833,1.649375,1.629333,0.020042
Spring,103.875000,1.276250,2.330313,1.410625,1.300625,2.204687,1.803281,1.638594,0.164687
Summer,93.833333,0.987083,1.535833,1.021250,0.959167,1.250833,1.261458,1.077083,0.184375
Winter,95.642857,1.344286,2.191429,2.096429,1.281429,2.950000,1.767857,2.109286,-0.341429

In [12]:
data['Seeded'][data['Seeded']=='S']=1
data['Seeded'][data['Seeded']=='U']=2

data['Season'][data['Season']=='Spring']=1
data['Season'][data['Season']=='Summer']=2
data['Season'][data['Season']=='Autumn']=3
data['Season'][data['Season']=='Winter']=4

C:\Users\chens\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\chens\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\chens\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\chens\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\chens\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\chens\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

array([ 0.45 , -0.397, -0.768, -1.035, -0.562, -0.985, -0.923,  0.062,
       -0.6  ,  0.83 , -0.145,  0.865,  0.205,  0.23 ,  0.092,  0.013,
        0.11 ,  0.263,  0.572, -0.07 ,  0.182, -0.517,  0.335,  0.66 ,
        0.07 ,  0.053,  0.282, -0.428, -0.548, -0.707, -0.788, -0.532,
       -0.325, -0.158, -0.693, -0.282, -0.102, -0.328, -0.463,  0.272,
        0.427,  0.595,  0.233, -0.253,  0.032,  0.18 ,  0.323,  0.772,
        0.35 ,  0.207,  0.27 ,  0.048,  0.028,  0.36 , -0.74 , -0.167,
       -0.058, -0.313,  0.233, -0.822, -0.008, -1.058, -0.227, -0.38 ,
       -0.787,  0.855, -0.773,  0.708, -0.607, -0.195,  0.575,  0.6  ,
        0.085,  0.083,  0.998,  0.55 ,  0.588,  0.633, -0.033,  0.39 ,
        0.187,  0.262, -0.048,  0.088, -0.03 ,  0.053,  2.187,  0.25 ,
        0.058, -0.035,  0.318, -0.523, -0.018, -0.212, -0.477,  0.745,
       -0.547, -0.137,  0.178, -0.878,  0.747,  0.172,  0.048,  0.345,
       -0.283, -0.285, -0.003,  0.562])

In [15]:
data['Season'].values

array([3, 3, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1,
       1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4,
       4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=object)